body {
    background-color: white;
}
.body {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    min-height: calc(100vh - 56px);
}
.nav-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
/* try some pictures.... */
/* https://images.unsplash.com/photo-1506260408121-e353d10b87c7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1856&q=80 */
/* https://images.unsplash.com/photo-1588392382834-a891154bca4d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG5hdHVyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60 */

/***** index.html *****/
.main-index {
    background-color: white;
}
.main-emotion-wrapper {
    background-color: rgb(241, 241, 241);
    padding: 1rem;
    margin-top: 1rem;
}
.main-explain {
    font-style: italic;
    font-size: 1.25rem;
}
.main-index h2 {
    margin-top: 2rem;
}
.emotion-container {
    display: flex;
    flex-wrap: wrap;
}
.home-emotion-links {
    margin: 5px;
    flex-grow: 1;
}
.content {
    font-size: 1.25rem;
    margin: 1rem 0 1rem;
}
section ol {
    font-size: 1.25rem;
}
.blockquote-footer {
    margin-bottom: 0;
    text-align: right;
    padding-top: 0.5rem;
}
.index-quote {
    display: block;
    padding: 1em;
    padding-top: 0.75rem;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

/***** goals.html *****/
.heading-container {
    margin-bottom: 15px;
    display: flex;
}
.heading-container h1 {
    display: inline-block;
    margin: 0;
}
.heading-container a {
    margin-left: 1rem;
    align-self: center;
}
.item-container .category {
    background-color: rgb(241, 241, 241);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1rem;
}

/***** login.html / register.html *****/
.credentials-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.credentials-header p {
    margin: 0;
}
.credentials-header p a {
    display: inline;
    padding: 0.2rem;
}

/***** layout.html *****/
nav {
    margin-bottom: 0.5rem;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

/***** emotion.html *****/
.emotion-heading {
    margin-bottom: 1rem;
}
.item-container {
    border: 1px solid rgb(204, 204, 204);
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}
.item-container p {
    margin-top: 0.5rem;
    margin-bottom: -5px;
}
.item-container h2 {
    padding-bottom: 0.3em;
}
.citation-container {
    display: flex;
    justify-content: space-between;
}

/***** bible.html *****/
.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
}

.loading__anim {
    width: 50px;
    height: 50px;
    border: 5px solid grey;
    border-left-color: white;
    border-radius: 50%;
    animation: rotation 500ms infinite linear;
}
@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}
.bible-selector-container {
    display: flex;
    justify-content: space-between;
    max-width: 280px;
    margin-bottom: 1.5rem;
}
.bible-selector-container select {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    min-width: 4rem;
    max-width: 4.5rem;
}
.bible-selector-container select option:checked {
    text-align: center;
    min-width: fit-content;
}
.book-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 450px;
    justify-self: center;
    flex-grow: 1;
}
.book-title-container-wrapper {
    display: flex;
    justify-content: center;
}
.material-icons {
    line-height: inherit;
}
.chapter-nav {
    border: none;
    background-color: white;
    padding: 0;
}
#next {
    margin-right: -1rem;
}
#previous {
    margin-left: -1rem;
}
.chapter-nav span {
    font-size: 48px;
    line-height: 1;
}
.hidden {
    visibility: hidden;
}
.verse-container {
    padding-top: 1rem;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}
.verse-container p {
    margin: 0;
    font-size: 1.25rem;
}
.s1 {
    font-size: 1.5rem !important;
}
.s1,
.s2 {
    font-weight: bold;
}
.r {
    font-style: italic;
}
.s1,
.s2,
.r {
    text-align: center;
}
.v {
    padding: 0 10px 0 10px;
    color: gray;
}
/***** Media Queries *****/
@media (max-width: 280px) {
    .chevron {
        display: none;
    }
    .chapter-nav span {
        font-size: 32px;
    }
}

@media (min-width: 768px) {
    body {
        background-color: rgb(241, 241, 241);
    }
    .body {
        background-color: white;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 1rem;
        margin-top: -0.5rem;
    }
    .nav-container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
@media (min-width: 992px) {
    .body {
        width: 70%;
    }
    nav {
        padding-right: 0;
        padding-left: 0;
    }
    .nav-container {
        width: 70%;
    }
}
@media (min-width: 1400px) {
    .body {
        width: 60%;
    }
    .nav-container {
        width: 60%;
    }
}
