body {
    background-color: lightgray;
}
nav {
    margin-bottom: .5rem;
}

.titleWrapper {
    text-align: center;
}
.titleWrapper h1 {
    margin: .5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.item-container {
    box-shadow: 0 0 10px grey;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}
.item-container h2 {
    color: rgb(99, 99, 99);
    padding-bottom: .3em;
}
.item-container blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.citation-container {
    display: flex;
    justify-content: space-between;
}
.messages {
    text-align: center;
}
.messages span {
    margin-bottom: .5rem;
    font-weight: bold;
    border: 1px solid black;
}
.credentials-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.credentials-header p {
    margin: 0;
}
.credentials-header p a {
    display: inline;
    padding: .2rem;
}
